$primary: #000;
$secondary: #ccc;
$max-width: 1200px;

// TODO: Add normalize... Or maybe not, Foundation has it i suppose.
// TODO: Check if Foundation use normalize.css

* {
    box-sizing: border-box;
}

body {
    background-color: $secondary;
    padding: 0;
    margin: 0;
}
